{% extends '@SyliusAdmin/Order/show.html.twig' %}

{% block header %}
    <h1 class="ui header">
        <i class="cart icon"></i>
        <div class="content">
            {{ 'sylius.ui.order'|trans }} #{{ order.number }}
            <div class="sub header">
                {{ order.checkoutCompletedAt|date('d/m/Y H:i') }}
                | {{ order.customer.fullName }}
            </div>
        </div>
    </h1>
{% endblock %}

{% block summary %}
    {{ parent() }}

    <div class="ui segment">
        <h3 class="ui dividing header">{{ 'app.ui.custom_order_details'|trans }}</h3>
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td><strong>{{ 'app.ui.payment_method'|trans }}</strong></td>
                    <td>
                        {% for payment in order.payments %}
                            {{ payment.method.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'app.ui.shipping_method'|trans }}</strong></td>
                    <td>
                        {% for shipment in order.shipments %}
                            {{ shipment.method.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
